*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    overflow: hidden scroll;
}



#navbar-ul{
    padding-left: 17%;
}

#navbar-ul > li{
    padding-left: 10px ;
}

#navbar-ul li > a{
    color: #0b1514;
}

#searchbox > button, #login-btn{
    background-color: #3371f2;
    border-color: #3371f2;
    border-radius: 8px;
}

.nav-right ul > li{
    padding: 0px 10px 0px 0px;
}

.nav-right{
    padding-left: 17%;
}

.back{
    text-decoration: none;
    color: black
}


/*full-width input fileds*/
input[type=text], select{
    width: 40%;
    padding: 8px 12px;
    margin: 8px 0;
    border-color: none;
    box-sizing: border-box;
    
    
}



/*set a style for the submit button*/
.savebtn{
    background-color: #3371f2;
    color: white;
    padding: 8px 12px;
    margin: 8px 0;
    border: none;
    width: 40%;
    opacity: 0.9;
    


}
.savebtn:hover{
    opacity: 1;
}

.form-group > p  {
    display: inline-flex;
    padding-left: 2%;

}
.form-group >p3 {
    display: inline-flex;
    padding-left: 83%;
} 
.form-group >p4{
    display: inline-flex;
    padding-left: 86%;
}   


.content{
    display:grid;
    height:100%;
    place-items: center;
    text-align: center;
}
   

